{% extends 'base.html.twig' %}

{% block title %}Stack index{% endblock %}

{% block body %}
    <h1>Stacks</h1>       
    {% for stack in stacks %}
        {% if stack.show %}
        <h3><a href="#">{{ stack.name }}</a></h3>
        <p>Subscriptores: {{ stack.subscribers }}</p>
        <p><strong>Creada por {{ stack.creator.name }}</strong></p>
        {% endif %}
    {% endfor %}
{% endblock %}
