{% extends 'base.html.twig' %}

{% block title %}New UserItem{% endblock %}

{% block body %}
    <h1>Create new UserItem</h1>

    {{ include('user_item/_form.html.twig') }}

    <a href="{{ path('app_user_item_index') }}">back to list</a>
{% endblock %}
